.sections {
    gap: 15px;
    flex-wrap: wrap;
    &__item {
        background: #f2f5fa;
        border-radius: 10px;
        padding: 13px 15px;
        width: 310px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        height: 700px;
        overflow-y: auto;
    }
}

.section{
    &__title{
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
    }
    &__header{
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &__input{
        background: transparent;
        border: none;
        outline: none;

    }
    &__addcards{
        cursor: pointer;
        padding: 5px;
    }
}
.card {
    padding: 9px 15px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(21, 27, 38, 0.2);
    border-radius: 10px;
    margin-bottom: 15px;
    transition: 0.3s all;
    svg{
        cursor: pointer;
    }
    &:hover{
        box-shadow: 2px 4px 8px rgba(21, 27, 38, 0.2);
    }
    &__userpic, &__executor{
        margin-top: 10px;
        img{
            width: 30px;
            height: 30px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    &__executor{
        gap:10px;
    }
    &__header{
        justify-content: space-between;
        svg{
            flex-shrink: 0;
        }
        &-name{
            gap:10px;
            width: 100%;

        }
    }
    &__timer{
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: #B7B9BB;
    }
    &__data-time{
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: #B7B9BB;
    }
    &__info{
        gap:10px;
    }
    &__name{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        width: 100%;
        &--not{
            background: transparent;
            border: none;
            outline: none;
            &::placeholder{
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                color: #E5E5E5;
            }

        }
    }
    &__right{
        justify-content: space-between;
        width: 100%;
    }
    &__subtasks{
        cursor: pointer;
        &-list{
            margin-top: 20px;
        }
        &-item{
            padding: 7px 0;
            border-top: 1px solid #F1F1F1;
            gap: 11px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
        }
    }
    &__subtask{
        gap: 4px;
        transition: 0.3s all;
        border-radius: 10px;
        padding: 4px 8px;
        div{
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            color: #B7B9BB;
        }
        &--open{
            background: #F2F5FA;
        }
        &:hover{
            background: #F2F5FA;
        }
    }
}

.modal-card{
    input{
        background: transparent;
        border: none;
        outline: none;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        color: #96999C;
        &::placeholder{
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            color: #96999C;
        }
    }
    textarea{
        width: 100%;
        resize: none;
        outline: none;
        overflow: hidden;
        border: 1px solid #F2F5FA;
        border-radius: 10px;
        display: block;
        min-width: 697px;
        min-height: 76px;
        padding: 12px;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        color: #96999C;
        &::placeholder{
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            color: #96999C;
        }
    }
    &__header{
        margin: 0 -20px;
        margin-bottom: 20px;
        padding: 0 20px;
        border-bottom: 1px solid #F2F5FA;
        padding-bottom: 14px;
        justify-content: space-between;
        &-left{
            gap:10px;
        }
    }
    &__name{
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 34px;
    }
    &__executor{
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        img{
            width: 30px;
            height: 30px;
            object-fit: cover;
            border-radius: 50%;
        }
        &--column{
            flex-direction: column;
        }
    }
    &__item{
        gap:39px;
    }
    &__subtasks{
        &-header{
            padding: 0 20px;
            padding-bottom: 8px;
            border-bottom: 1px solid #F2F5FA;
            margin: 0 -20px;
        }
        &-item{
            padding: 8px 0;
            border-bottom: 1px solid #F2F5FA;
            justify-content: space-between;
            .left{
                gap:16px;
            }
            .right {
                gap: 10px;
            }
        }
        
        &-title{
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: #808080;
        }
    }
    &__comments{
        margin: 0 -20px;
        margin-top: 103px;
        
        &-input{
            position: relative;
            padding: 0 20px;
            margin-top: 20px;
            margin-bottom: 104px;
            input{
                border: 1px solid #E5E5E5;
                border-radius: 10px;
                width: 100%;
                height: 50px;
                padding: 0 22px;
            }
            .btn{
                position: absolute;
                right: 21px;
            }
        }
        &-item{
            width: 100%;
            padding: 20px;
            border-top: 1px solid #E5E5E5;
            &:last-child{
                border-bottom:1px solid #E5E5E5;
            }
        }
    }
    &__info{
        margin-bottom: 26px;
        gap: 18px;
        display: flex;
        flex-direction: column;
    }
    &__h6{
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        display: flex;
        align-items: center;
        color: #96999C;
        width: 85px;
        &--start{
            align-items: start;
            margin-top: 12px;
        }
    }
    &__work{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        width: 222px;
        height: 30px;
        background: #F2F5FA;
        border-radius: 10px;
        color: #333;
        gap:10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    &__complete{
        width: 199px;
        height: 30px;
        left: 543px;
        top: 13px;
        background: #97C95D;
        border-radius: 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        color: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
        gap:10px;
        margin-right: 21px;
        cursor: pointer;
        &--end{
            pointer-events: none;
            opacity: 0.6;
            svg{
                display: none;
            }
        }
        &-icon{
            margin-right: 15px;
        }
    }
}

.comment{
    &__header{
        gap: 10px;
        margin-bottom: 10px;
        &-name, &-time{
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
        }
        &-name{
            color: #333;
        }
        &-time{
            color: #B7B9BB;
        }
    }
    &__body{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #333;
    }
}
.user{
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
    flex-shrink: 0;
}
.red{
    color: #FF5722;;
}
.disabled{
    pointer-events: none;
    opacity: 0.7;
}
.complete{
    opacity: 0.7;
}